body {
  margin: 0;
  font-size: 15px;
  line-height: 1.6;
  color: black;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}


/* Header */

.header {
  width: 100%;
  padding: 30px;
  position: relative;
  background-color: rgb(224, 219, 219);
  margin-bottom: 20px;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


/* Container */

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

#grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 2vw;
}

#grid>div {
  font-size: 16px;
  padding: .5em;
  /* background: gold; */
  text-align: center;
  width: 220px;
  height: 400px;
  position: relative;
  border-top: 1px solid #eee;
  border-right: 1px solid #eee;
  border-left: 1px solid #eee;
  border-radius: 5px 5px 5px 5px;
  background-color: rgb(247, 247, 247);
}

.parent {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.div1 {
  grid-area: 1 / 1 / 10 / 4;
}

.div2 {
  grid-area: 10 / 1 / 11 / 3;
}

.div3 {
  grid-area: 10 / 3 / 11 / 4;
}

.div4 {
  grid-area: 9 / 3 / 10 / 4;
}

.div4 > img {
  width: 200px;
  height: 300px;
}
